/* colors.css */
:root {
  --naranja-claro: #F4EFE7;
  --marron-claro: #B4845A;
  --rojo-oscuro: #C4454B;
  --azul-oscuro: #2C3A59;
  --negro-intenso: #0A0A0A;
  --blanco: #FFFFFF;
  --gris-claro: #F5F5F5;
}
