.contact-section {
    background-image: url("../img/wallpaper-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: auto;
    flex-direction: column;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.contact-section > form {
    width: 35%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contact-section > form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    opacity: 0.8;
    z-index: -1;
}

.contact-section > form > h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.contact-section > form > input{
    padding: 10px;
    margin: 10px 0;
}

.contact-section > div {
    background-color: var(--modal-bg-color);
    border-radius: 2%;
    padding: 5%;
}

/* Responsive moviles */
@media (max-width: 600px) {
    #contact-form {
        min-width: 300px;
    }
}