.home-section {
    background-image: url("../img/wallpaper-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.home-section > ul {
    background-color: rgba(128, 128, 128, 0.247);
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}