.login-section {
    background-image: url("../img/wallpaper-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: auto;
    flex-direction: column;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.login-section > form {
    position: relative;
    width: 35%; 
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    
}

.login-section > form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #302929; /* Color de fondo del formulario */
    opacity: 0.8; /* Nivel de opacidad */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido del formulario */
}

.login-section > form > h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;

}
