.client-menu-section {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 10px;
    justify-content: space-around;
}

.client-menu-section > h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: var(--text-color);
}

.client-menu-section > article {
    background-color: var(--background-color);
    min-width: 300px;
    margin: 10px;
    width: calc(33.333% - 30px);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: slideIn 0.5s ease-out;
    display: flex;
    flex-direction: column;
}


.client-menu-section > article > footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    margin-top: auto;
}

.client-menu-section > article > div {
    padding: 20px;
    flex: 1;
}


.client-menu-section > article > div > img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    max-height: 200px;
}

@media (max-width: 600px) {
    .client-menu-section {
        flex-direction: column;
        padding: 5px;
    }

    .client-menu-section > article {
        width: 100%;
        margin: 10px 0;
    }

    .client-menu-section > article > div {
        padding: 10px;
        padding-bottom: 50px;
    }

    .client-menu-section > article > div > img {
        padding: 10px;
    }
}

/* Animación para los artículos */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*Menu admin, mostrar en forma de tabla */
/* Faltaria el responsivo, borrar comentario si se implementa */

.admin-menu-section {
    padding: 2rem;
    /* margin-top: 5rem; */
    background-color: rgba(7, 7, 7, 0.568);
}
/* 
.menu-table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;

}

.menu-table th, .menu-table td {
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid var(--border-color);
}
    
.menu-table th {
        background-color: var(--secondary-color);
        color: var(--text-color);
} */