/* Estilos para la barra de navegación */
nav {
    margin-top: 78px;
    justify-content: center;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem;
    color: var(--text-color);
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--accent-color);
}
