
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none; /* Bloquear interacción con la pantalla */
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Agrega esto a tu archivo CSS */
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease-out;
    transform: translateX(-50%);
}

/* Estilos específicos para cada tipo de mensaje */
.notification.info {
    background-color: green; /* Azul */
    color: #fff;
}

.notification.warning {
    background-color: #FF9800; /* Naranja */
    color: black;
}

.notification.critical {
    background-color: #F44336; /* Rojo */
    color: #fff;
}

.notification.fade-out {
    opacity: 0;
}