.register-section {
    background-image: url("../img/wallpaper-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: auto;
    flex-direction: column;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.register-section > form {
    width: 35%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.register-section > form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #302929;
    opacity: 0.8;
    z-index: -1;
}

.register-section > form > h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: var(--text-color);
}

/* condigo responsivo para moviles */
@media (max-width: 600px) {
    #register-form {
        min-width: 300px;
    }
}