/***********************************************************************
******************* Sección de configiración inicial ********************** 
************************************************************************/

/* Variables de colores */
:root {
  --primary-color: #B29138; /* Color principal: Dorado */
  --secondary-color: #556B2F; /* Color secundario: Verde Oliva */
  --accent-color: #fa2c2c; /* Color de acento: rojo brillante */
  --background-color: #1a1918; /* Color del fondo: Negro */
  --text-color: #bfc9c9; /* Color del texto: Azul */
  --border-color: #34495E; /* Color del borde: Gris claro */
}

/* Estilos generales */
/*modelo de caja no estandar */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  
}

main {
  background-color: var(--text-color);
}

section {
  background-color: aqua;
}

article {
  background-color: coral;
}

header {
  background-color: var(--primary-color);

}

footer {
  background-color: var(--border-color);
}

