/***********************************************************************
******************* Sección de configiración inicial ********************** 
************************************************************************/

/* Variables de colores */
:root {
  --primary-color: #B29138; /* Color principal: Dorado */
  --secondary-color: #556B2F; /* Color secundario: Verde Oliva */
  --accent-color: #fa2c2c; /* Color de acento: rojo brillante */
  --background-color: #1a1918; /* Color del fondo: Negro */
  --text-color: #bfc9c9; /* Color del texto: Azul */
  --border-color: #34495E; /* Color del borde: Gris claro */
}

/* Estilos generales */
/*modelo de caja no estandar */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
  flex: auto;
  flex-direction: column;
  width: 100%; 
  display: flex; 
}

main {
  background-color: var(--text-color);
}

section {
  background-color: var(--background-color); 
  font-family: Arial, Helvetica, sans-serif; /* establecemos las propiedades de la fuente*/
  font-size: large;
  color: var(--text-color);
  text-align: center;

}

article {
  background-color: coral;
}

header {
  background-color: var(--primary-color);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
  background-color: var(--border-color);
  text-align: center;
  height: 100%;
}

/* Estilos logins  */
input[type="text"], input[type="password"], [type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* Estilos botones */
button {
  padding: 10px;
  background: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--accent-color);
}