/* Importamos los colores desde colors.css */
@import url(colors.css);

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--negro-intenso);
    color: var(--naranja-claro);
    text-align: center;
}

/* Estilos para el encabezado */
header {
    background-color: var(--marron-claro);
    color: var(--negro-intenso);
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--negro-intenso);
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--gris-claro);
}

/* Estilos para el menú de comidas y bebidas */
.menu-section {
    margin: 40px auto;
    max-width: 800px;
}

/* Estilos de los ítems del menú */
.menu-item {
    background-color: var(--gris-claro); /* Color de fondo del ítem */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.menu-item h3 {
    margin: 0;
    color: var(--rojo-oscuro); /* Color del título */
}

.menu-item p {
    margin: 5px 0;
    color: var(--negro-intenso); /* Color de la descripción para mayor contraste */
}

.menu-item .price {
    color: var(--marron-claro);
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Estilos para spinner (si es necesario) */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em; /* Ajusta el tamaño según sea necesario */
    color: var(--azul-oscuro); /* Cambiado el color a uno del tema */
}

/* Estilos para formulario (si es necesario en otra página) */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background: var(--azul-oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: var(--marron-claro);
}

#error-message {
    margin-top: 10px;
    color: red;
}
