<!-- home view -->
<!-- <section>
    Agregar foto de un plato
    <h2>Bienvenidos</h2>
    <p>Con nuestra aplicación, puedes realizar pedidos de tus comidas favoritas de manera rápida y sencilla.</p>
    <p>Déjate seducir por nuestros platos más exclusivos y exquisiteces de primer nivel por nuestros cheff profesionales</p>
    <p>Para continuar, por favor <a href="/login">inicia sesión</a> o <a href="/register">crea una cuenta</a>.</p>
</section> -->
<section class="home-section">
    <!-- Probar con Agregar foto de un plato de backround en el encabezado. -->
     <div>
        <h2>Bienvenidos</h2>
        
        <p>Imagen de un plato gourmet de alta calidad</p>

        <h2>Sabores auténticos, experiencias inolvidables.</h2>
     </div>
    <p>Déjate seducir por la exquisita cocina de Sauce Grande Gourmet. Nuestros chefs, con años de experiencia, crean platos únicos utilizando los ingredientes más frescos y de temporada.</p>

    <p>Con nuestra aplicación, puedes realizar pedidos de tus comidas favoritas de manera rápida y sencilla.</p>

    <p>¿Por qué elegirnos?</p>
    <ul>
        <li>Productos locales y de alta calidad.</li>
        <li>Recetas tradicionales con un toque moderno.</li>
        <li>Atención personalizada y ambiente acogedor.</li>
        <li>Todo al alcance de sus manos.</li>
    </ul>
    <p>¡Explora nuestro menú y realiza tu pedido ahora!</p>

    <button>Ver menú</button>

    <p>Para continuar, por favor <a href="/login">inicia sesión</a> o <a href="/register">crea una cuenta</a>.</p>

    <p>¿Tienes alguna pregunta?
    Contáctanos a través de nuestro formulario de contacto o visítanos en [dirección del restaurante].</p>
</section>