<!-- login view -->
 <section class="login-section">
     <form id="login-form">
        <h2>Login</h2>
        <label for="username">Correo Electrónico:</label>
        <input type="text" id="username" name="username" required placeholder="Ej. nombre@dominio.com">

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required minlength="6" maxlength="50" placeholder="Contraseña">

        <button type="submit">Iniciar sesion</button>
        <p> O bien </p>
        <a href="/register">Crea una cuenta nueva</a> <!--Dirigirse a register-->
    </form>
    <div id="error-message" style="color: red;"></div>
</section>