<!-- Sección de comidas -->

<section class="client-menu-section-first">
    <h2>Menú</h2>
     <!-- Boton para mostrar el carrito de compras -->
     <button class="cart-button" id="cart-button">
        <span class="material-icons">shopping_cart</span>
        <span class="item-count" id="item-count">0</span>
    </button>
</section>
 <!-- se renderizan los articulos dinamicamente desde el userMenuHandler -->
 <div class="modal" id="modal-cart">
    <div class="modal-content">
        <span class="close" id="close-modal-cart">&times;</span>
        <h2>Checkout de carrito</h2>
        <table class="orders-table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Plato</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <!-- Se genera dinamicamente -->
            </tbody>
        </table>
        
        <p>Total: $ <span id="cart-total">500</span></p>
        <div class="cart-footer">
            <button class="btn btn-primary" id="checkout-button">Comprar</button>
        </div>
    </div>
</div>
