<!-- Sección de comidas -->
<nav class="dashboard-nav" data-fragment="user-navegation">22222222</nav>
<section class="client-menu-section">
    <article>
        <header>
            <h2>Nombre del plato</h2>
            <!-- estrellas de calificacion -->
            <div class="rating">
                Calificación 5/5
            </div>
        </header>
        <div>
            <img src="https://via.placeholder.com/150" alt="Imagen de la comida">
            <h3>Descripción</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies aliquam. Nullam nec purus nec nunc ultricies aliquam.</p>
        </div>
        <footer>
            <button class="btn btn-primary">Ordenar</button>
        </footer>
    </article>
</section>