<!-- user-dashboard view -->
<section class="dashboard-section">
    <h2>Menú</h2>
    <div class="menu-section" id="menu-section">
        <!-- Aquí se insertarán los platos del menú -->
    </div>
</section>
<section class="dashboard-section">
    <h2>Mis Pedidos</h2>
    <table class="orders-table" id="orders-table">
        <thead>
            <tr>
                <th>Platos</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th>Fecha y Hora</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán los pedidos -->
        </tbody>
    </table>
</section>