<!-- user-dashboard view -->
<nav class="dashboard-nav" data-fragment="user-navegation">22222222</nav>
<section class="dashboard-section">
    <h2>Menú</h2>
    <div class="menu-section" id="menu-section">
        <p>Aquí se insertarán los platos del menú</p>
    </div>
</section>
<section class="dashboard-section">
    <h2>Mis Pedidos</h2>
    <table class="orders-table" id="orders-table">
        <thead>
            <tr>
                <th>Platos</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th>Fecha y Hora</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <p>Aquí se insertarán los Pedidos</p>
        </tbody>
    </table>
</section>